<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640720908106-hjl0m9hc7nhnsefea042u4kc7prnggck.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640720908106-hjl0m9hc7nhnsefea042u4kc7prnggck</string>
	<key>API_KEY</key>
	<string>AIzaSyBgH4snvmVY4fHSSId08oZ0gQF72-pdsa8</string>
	<key>GCM_SENDER_ID</key>
	<string>640720908106</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.foodDelivery</string>
	<key>PROJECT_ID</key>
	<string>gracefood-2024</string>
	<key>STORAGE_BUCKET</key>
	<string>gracefood-2024.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640720908106:ios:1e5a692720f0a681049bb3</string>
</dict>
</plist>